<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- Circle Bean -->
	<bean id="circleShape" class="com.springmvc.controller.Circle"/>
	
	<!-- Inject circleShape via constructor argument -->
	<bean id="geometryExample1" class="com.springmvc.controller.GeometryExample1">
		<constructor-arg ref="circleShape"/>
	</bean>
</beans>